<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"15rem"}}} -->
<h2 class="wp-block-heading has-text-align-center" style="font-size:15rem">404</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","fontSize":"medium","fontFamily":"noto-sans"} -->
<p class="has-text-align-center has-noto-sans-font-family has-medium-font-size">404 - Sorry, we can't find this page</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","fontSize":"small"} -->
<p class="has-text-align-center has-small-font-size">The page you are looking for may have been removed, had its name changed, or is temporarily unavailable.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","verticalAlignment":"top","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"width":75,"className":"is-style-fill"} -->
<div class="wp-block-button has-custom-width wp-block-button__width-75 is-style-fill"><a class="wp-block-button__link wp-element-button" href="http://localhost/school/">GO TO HOMEPAGE</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->