<!-- wp:template-part {"slug":"header","theme":"school-theme","tagName":"header"} /-->

<!-- wp:group {"metadata":{"name":"Main"},"layout":{"type":"constrained","contentSize":"60rem","wideSize":"75rem"}} -->
<div class="wp-block-group"><!-- wp:post-title {"style":{"typography":{"fontSize":"24px","fontStyle":"normal","fontWeight":"400"}}} /-->

    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
    <div class="wp-block-group"><!-- wp:post-date {"isLink":true,"style":{"typography":{"fontSize":"18px"}}} /-->
    
    <!-- wp:paragraph {"style":{"typography":{"fontSize":"18px"}}} -->
    <p style="font-size:18px">by</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:post-author {"showAvatar":false,"showBio":false,"isLink":true,"style":{"typography":{"fontSize":"18px"},"layout":{"selfStretch":"fixed","flexSize":"-3px"}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-featured-image /-->
    
    <!-- wp:post-content /-->
    
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph -->
    <p>Categories:</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:post-terms {"term":"category"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous","showTitle":true} /-->
    
    <!-- wp:post-navigation-link {"showTitle":true} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"slidebar","theme":"school-theme"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"school-theme","tagName":"footer"} /-->